<div class="custom-responsive-wrapper" [ngClass]="{
  'is-x-small': isXSmall,
  'is-small': isSmall,
  'is-medium': isMedium,
  'is-large': isLarge,
  'is-x-large': isXLarge,
  'is-handset': isHandset,
  'is-tablet': isTablet,
  'is-web': isWeb,
  'is-handset-portrait': isHandsetPortrait,
  'is-tablet-portrait': isTabletPortrait,
  'is-web-portrait': isWebPortrait,
  'is-handset-landscape': isHandsetLandscape,
  'is-tablet-landscape': isTabletLandscape,
  'is-web-landscape': isWebLandscape, 
}">
  <div class="background-image">
    <div class="main-content">
      <div class="card custom-login-card">
        <div class="mb-1">
          <img src="./assets/download.png" alt="" class="logo-image">
        </div>
        <span class="heading-1 mb-3">Welcome to <span><br></span>Swiss Castle!</span>
        <p class="text-1 mt-1 mb-4">We're excited to help you find great food and get it delivered right to your doorstep.</p>
        <div class=" get-btn-content">
          <button (click)="navigateGetStarted()" class="btn get-started-btn mt-3">Get Started <span><i class="bi bi-chevron-double-right"></i></span>
          </button>
        </div>
        
      </div>
    </div>
  </div>
</div>