<div class="total-content p-2" [ngClass]="{
    'is-x-small': isXSmall,
    'is-small': isSmall,
    'is-medium': isMedium,
    'is-large': isLarge,
    'is-x-large': isXLarge,
    'is-handset': isHandset,
    'is-tablet': isTablet,
    'is-web': isWeb,
    'is-handset-portrait': isHandsetPortrait,
    'is-tablet-portrait': isTabletPortrait,
    'is-web-portrait': isWebPortrait,
    'is-handset-landscape': isHandsetLandscape,
    'is-tablet-landscape': isTabletLandscape,
    'is-web-landscape': isWebLandscape, 
  }">
  <div>
    <img src="./assets/Tablet Ocassion.png" alt="" class="img-fluid image">
    <p class="mt-2 welcome-text">Welcome, Govardhan</p>
    <p class="heading-text">
      Lets find perfect cake for your occasion
    </p>
    <div class="row">
      <div class="col text-center">
        <img src="./assets/download (1).jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Anniversary</p>
      </div>
      <div class="col text-center">
        <img src="./assets/images.jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Baby Shower</p>
      </div>
      <div class="col text-center">
        <img src="./assets/download (2).jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Birthday</p>
      </div>
      <div class="col text-center">
        <img src="./assets/download (3).jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Bride To Be</p>
      </div>
      <div class="col text-center">
        <img src="./assets/download (4).jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Wedding</p>
      </div>
      <div class="col text-center">
        <img src="./assets/download (5).jpg" alt="" class="circular-image">
        <p class="sub-text mt-2">Regular Cake</p>
      </div>
    </div>
    <!-- <div class="progress-bar-container">
      <div class="progress-bar">
        <p>hi</p>
      </div>
    </div> -->
  </div>
</div>