.total-content {
    display: none;
}

.total-content.is-x-small {
    display: block;
}

.image {
    width: 100%;
    height: 20vh;
}

.welcome-text {
    color: #70c44c;
    font-size: 18px;
    font-weight: 600;
}

.heading-text {
    font-size: 28px;
    font-weight: 600;
}

.circular-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.sub-text {
    font-size: 16px;
}

.image-wrapper {
    display: inline-block;
    position: relative;
    border: 5px solid transparent;
    border-radius: 50%;
}

.selected .image-wrapper {
    border-color: #70c44c;
}

.selected .image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(119, 191, 67, 0.3);
    border-radius: 50%;
}

.selected .image-wrapper i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #70c44c;
}

.selection-overlay {
    display: none;
}

.selected .selection-overlay {
    display: block;
}