.otp-input {
  text-align: center;
  padding: 16px 6px;
  border: 1px solid #fff;
  background-color: #70c44c;
  color: #fff;
  font-size: 20px;
}

.row .col {
  margin-left: 10px;
}

.total-content.is-x-small .background-image .otp-input {
  text-align: center;
  border: 1px solid #fff;
  background-color: #70c44c;
  color: #fff;
}

.total-content.is-tablet-portrait .background-image .otp-input{
  text-align: center;
  border: 1px solid #fff;
  background-color: #70c44c;
  color: #fff;
  padding: 20px 6px;
  width: 85%;
}

*{
  color: #fff;
}

.resend-otp{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
