<div class="custom-responsive-wrapper" [ngClass]="{
  'is-x-small': isXSmall,
  'is-small': isSmall,
  'is-medium': isMedium,
  'is-large': isLarge,
  'is-x-large': isXLarge,
  'is-handset': isHandset,
  'is-tablet': isTablet,
  'is-web': isWeb,
  'is-handset-portrait': isHandsetPortrait,
  'is-tablet-portrait': isTabletPortrait,
  'is-web-portrait': isWebPortrait,
  'is-handset-landscape': isHandsetLandscape,
  'is-tablet-landscape': isTabletLandscape,
  'is-web-landscape': isWebLandscape, 
}">
   <div class="background-image">
    <div class="main-content">
     <div class="card custom-login-card">
         <div class="mb-4">
          <img src="./assets/download.png" alt="" class="logo-image">
         </div>
         <p class="heading-2 mb-2 mt-4">Verify OTP</p>
         <p class="text-center otp-text">OTP sent to 9123456789</p>
         <div class="custom-input-field mt-4">
          <div class="row g-4 mb-3">
            <div class="col">
              <input type="text" class="form-control text-center text-field-input" [(ngModel)]="otp1" (input)="onInputChange(1)"
                maxlength="1" />
            </div>
            <div class="col">
              <input type="text" class="form-control text-center text-field-input" [(ngModel)]="otp2" (input)="onInputChange(2)"
                maxlength="1" />
            </div>
            <div class="col">
              <input type="text" class="form-control text-center text-field-input" [(ngModel)]="otp3" (input)="onInputChange(3)"
                maxlength="1" />
            </div>
            <div class="col">
              <input type="text" class="form-control text-center text-field-input" [(ngModel)]="otp4" (input)="onInputChange(4)"
                maxlength="1" />
            </div>
          </div>
        </div>
        <div class="resend-otp-content">
        <p class="otp-text">Didn’t receive the OTP? <a href="" class="resend-otp">Resend OTP</a></p>
        </div>
        <button (click)="navigateDetails()" type="button" class="btn btn-dark custom-login-btn">Continue</button>
     </div>
    </div>
   </div>
</div>
