.heading-5{
    color: #77bf43;
    font-size: 18px;
    font-weight: bold;
}

.heading-2{
    font-size: 28px;
    color:#373c39;
    font-weight: bold;
}

.text-1{
    font-size: 16px;
    line-height: 1.4;
    color: #44464a;
}

.text-2{
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #44464a;
}

.text-field-input {
    padding: 18px;
    color: #e7fef3;
    border: solid 1px #8c8e91;
    border-radius: 4px;
}

.hr-line{
    background-color: #e5e5eb;
}

.gender-content{
    display: flex;
    justify-content: space-between;
}

.gender-text{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    color: #44464a; 
}

.btn-checkable{
    color: #44464a;
    font-size: 12px;
    padding:10px 20px;
    border-radius: 4px;
    font-weight: bold;
    border: solid 1px #8c8e91;
  }
  
  .btn-checkable:hover{
    background-color: #77bf43;
    color:#e7fef3;  
  }
   
  .btn-check:checked + .btn-checkable {
    background-color: #77bf43;
    color:#e7fef3; 
  }

  .custom-proceed-btn{
    background-color: #77bf43;
    color:#e7fef3;
    width: 100%;
    padding: 18px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: bold;
  }

  .kg-card-content{
    display: flex;
    justify-content: center;
  }

  .kg-card{
    background-color: #77bf43;
    color:#e7fef3;
    font-size: 14px;
    font-weight: bold;
    width: 79px;
    height: 48px;
    text-align: center;
    border: none;
  }

  .value-text{
    padding-top: 18%;
  }

  .kg-sub-text{
    font-size: 12px;
    letter-spacing: 1px;
    color: #8c918e;
  }

  /* Style the track (bar) */
input[type=range] {
    height: 36px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #EDECEA;
    background: #EDECEA;
    border-radius: 19px;
    border: 0px solid #EDECEA;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 2px 2px 2px #70C44C;
    border: 5px solid #70C44C;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #70C44C;
}



